apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: hello-service-deployment
  namespace: development
  labels:
    app: hello-service-app
spec:
  replicas: 4
  template:
    metadata:
      labels:
        apps: hello-service
    spec:
      containers:
      - name: hello-service
        image: dannyvandijck/docker-test-repo-pub
        ports:
        - containerPort: 31310