apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: hello-service
  namespace: development
  labels:
    app: hello-service
spec:
  replicas: 1
  template:
    metadata:
      labels:
        apps: hello-service
    spec:
      containers:
      - name: hello-service
        image: dannyvandijck/docker-test-repo-pub
        ports:
        - containerPort: 8080