apiVersion: v1
kind: Service
metadata:
  name: hello-as-a-service
  namespace: development
spec:
  ports:
    - name: http
      port: 1111
      # target port of the pod you want to reach. (=loadBalancer)
      #targetPort: 8080
      # specify a node port. The range of valid ports is 30000-32767
      # nodePort: 30000
      nodePort: 30001
# type: LoadBalancer  
  type: NodePort    
  selector:
    apps: hello-service