apiVersion: v1
kind: Service
metadata:
  name: hello-as-a-service
  namespace: development
spec:
  ports:
    - name: http
      port: 1111
      # target port of the pod you want to reach. (=loadBalancer)
      # targetPort: 8080
      # specify a node port. The range of valid ports is 30000-32767
      # nodePort: 30000
      nodePort: 30001
# type: LoadBalancer  
  type: NodePort    
  selector:
    apps: hello-service
    
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: hello-world-ingress	
  namespace: development
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
    - host: kubedanvan.essers.com
      http:
        paths:
          - backend:
              serviceName: hello-as-a-service
              servicePort: 1111
            path: /helloworldtest/
 

    