apiVersion: v1
kind: Service
metadata:
  name: hello-as-a-service
  namespace: development
spec:
  ports:
    - name: http
      port: 1111
      # target port of the pod you want to reach. (=loadBalancer)
      # targetPort: 8080
      # specify a node port. The range of valid ports is 30000-32767
      # nodePort: 30000
      # for the development namespace nodePort: 30001
      nodePort: 30001
# type: NodePortLoadBalancer  
  type: NodePort    
  selector:
    apps: hello-service
    
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: hello-world-ingress	
  namespace: development
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: kubedanvan.essers.com
      http:
        port: 8080
        nodePort: 30002
        paths:
          - backend:
              serviceName: hello-as-a-service
              servicePort: 30001
            path: /helloworldtest/


    